
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    overflow-x: hidden;
}

header{
    width: 100vw;
    background-color: #115D8C;
    color: #F0F1F2;
    display: flex;
    flex: 1;
    padding: 5px;
    font-weight: 900;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    height: 8vh;
    box-shadow: 0 3px 16px 0 rgb(0 0 0 / 10%);
}

header > h1 {
    margin-left: 5px;
    font-weight: bolder;
}
header > nav{
    display: flex;
    margin: 5px;
    text-transform: uppercase;
}
header > nav > li {
    list-style: none;
}
.burg {
    cursor: pointer;
    display: none;
    margin-right: 10px;
}
.burg > div{
    width: 32px;
    height: 2px;
    margin: 8px;
    background-color: #ffff;
}

header > nav > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    color: #F0F1F2;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    animation: 0.5s ease-in-out;
}
header > nav > li > a:hover{
    color: #115D8C;
    background-color: #F0F1F2;
}
main{
    width: 100vw;
}
main > section{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    padding: 10px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
.background-white{
    background: #F0F1F2;
}

.background-blue{
    background: #0396A6;
    
}
.presentation{
    height: 15rem;
    min-width: 40vw;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.presentation > h1{
    font-size: 2em;
    display: flex;
    flex-direction: column;
}
.presentation > h1::after{
    content: "";
    height: 5px;
    width: 95%;
    background-color: #115D8C;
}
.presentation > p{
    font-size: 1.2em;
}
.presentation > a{
    display: flex;
    font-size: 1.2em;
    height: 50px;
    width: 150px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: #F0F1F2;
    border-radius: 15px;
    font-weight: bolder;
    background: #11538C;
    text-decoration: none;
}
.presentation > a:hover{
    opacity: 0.9;
}
.conteinner-img{
    transform: scale(60%);
}

.about-us{
    color: #181818;;
    display: flex;
    font-weight: bold;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
    line-height: 1.5em;
    flex: 1;
    height: 50%;
    margin: 5px;
    max-width: 60%;
}

.about-us > h2{
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-self: center;
    line-height: 1em;
    justify-content: space-between;
}
.about-us > p{
    font-size: 1.3em;
    margin-bottom: 6px;
}
.about-us > h2{
    margin-bottom: 20px;
}
.about-us > h2::after{
    content: "";
    height: 5px;
    width: 95%;
    background-color: #05DBF2;
}

.service{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 15px;
    justify-content: center;
}
.service > div > h2{
    font-size: 2em;
    display: flex;
    flex-direction: column;
}
.service > div > h2::after{
    content: "";
    height: 5px;
    width: 95%;
    background-color: #05DBF2;
}

.informations{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 80vh;
    width: 80vw;
}
.only-item{
    background: #115D8C;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
    margin: 5px;
    height: 70%;
}

.only-item > img {
    transform: scale(70%);
}
.only-item > a{
    display: flex;
    font-size: 1.2em;
    height: 50px;
    width: 150px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color:#11538C;
    border-radius: 15px;
    font-weight: bolder;
    background:  #F0F1F2;
    text-decoration: none;
}

.only-item > a:hover{
    opacity: 0.9;
}
.only-item > p {
    font-size: 1.2em;
    margin: 15px;
}

.plans{
    padding: 20px;
    align-items: flex-end;
    justify-content: space-around;
}
.travel-plan{
    background: #F0F1F2;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding: 2rem;
}
.travel-plan > ul{
    font-size: 1.1em;
    line-height: 1.5em;
    display: flex;
    list-style: square;
    flex-direction: column;
}

.travel-plan > a {
    display: flex;
    font-size: 1.2em;
    height: 50px;
    width: 150px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color:#F0F1F2;
    border-radius: 15px;
    font-weight: bolder;
    background:  #11538C;
    text-decoration: none;
}

.travel-plan > h3{
    display: flex;
    text-align: center;
    width: 100%;
    flex-direction: column;
}
.travel-plan > h3::after{
    content: '';
    height: 5px;
    width: 100%;
    margin-top: 15px;
    background-color: #115D8C;
}
.travel-plan > a:hover{
    opacity: 0.9;
}
.basic{
    height: 40vh;
    margin-left: 5px;
    margin-bottom: 15px;
}
.mediun{
    height: 60vh;
    margin-bottom: 15px;
    margin-left: 5px;
}
.premiun{
    height: 80vh;
    margin-bottom: 15px;
    margin-left: 5px;
}
[data-animation]{
    opacity: 0;
    transition: 0.3s;
}

[data-animation='left']{
    transform: translate3d(-50px, 0, 0);
}
[data-animation='right']{
    transform: translate3d(50px, 0, 0);
}
[data-animation].start-animation{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}
footer{
     display: flex;
     flex: 1;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
     width: 100vw;
     font-size: 1.2em;
     line-height: 1.5em;
}

footer > ul{
    display: flex;
    font-size: 5em;
    text-decoration: none;
    list-style: none;
    padding: 2rem;
    
}
footer > ul > li{
    margin: 1rem;
    display: flex;
    flex-direction: column;
}
footer > ul > li > a{
    color: black;
    transition: 0.5s ease-in-out;
}

footer > ul > li:nth-child(1)::after
{
    content: '';
    background-color: black;
    height: 5px;
    width: 95%;
    transition: 0.5s ease-in-out;

}

footer > ul > li:nth-child(2)::after
{
    content: '';
    background-color: black;
    height: 5px;
    width: 95%;
    transition: 0.5s ease-in-out;
}

footer > ul > li > a:hover{
    color: #115D8C;
}
footer > ul > li:hover::after{
    background-color: #115D8C;
}

@keyframes animationFade {
   
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
/*
Colors
#11538C
#115D8C
#F0F1F2
#05DBF2
#0396A6
*/

@media (max-width: 768px) {
    header > nav {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex: 1;
        top: 7.1vh;
        width: 100vw;
        right: 0;
        height: 94vh;
        opacity: 0;
        transform: translateX(110vw);
        transition:  0.3s ease-in;
    }
    .nav.active{
        background-color: rgba(0, 0, 0, 0.534);
        opacity: 1;
        transform: translateX(0);
    }
    .burg.active .line1{
        transform: rotate(-45deg) translate(-8px, 8px);
    }
    .burg.active .line2{
        opacity: 0;
    }
    .burg.active .line3{
        transform: rotate(45deg) translate(-5px, -7px);
    }
    header > nav > li{
        width: 100%;
        text-align: center;
    }
    header > nav > li > a{
        width: 100%;
        height: 50px;
    }
    .burg{
        display: block;
    }
    main > section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sec-presentation{
        
        flex-direction: column-reverse;
    }
    .informations{
        flex-direction: column;
        padding: 5px;
        height: 80%;
        width: 80%;
    }
    .service{
        margin-bottom: 10px;
    }
    .only-item{
        width: 90%;
        padding: 15px;
    }
    .plans{
        padding: 20px;
        align-items: center;
        justify-content: space-around;
    }
    .travel-plan{
        width: 90%;
    }
}